[submodule "cwm4"]
	path = cwm4
	url = https://github.com/CarloWood/cwm4.git
	branch = master
[submodule "statefultask"]
	path = statefultask
	url = https://github.com/CarloWood/ai-statefultask.git
	branch = master
[submodule "cwds"]
	path = cwds
	url = https://github.com/CarloWood/cwds.git
	branch = master
[submodule "utils"]
	path = utils
	url = https://github.com/CarloWood/ai-utils.git
	branch = master
[submodule "threadsafe"]
	path = threadsafe
	url = https://github.com/CarloWood/ai-threadsafe.git
	branch = master
[submodule "threadpool"]
	path = threadpool
	url = https://github.com/CarloWood/threadpool.git
	branch = master
[submodule "evio"]
	path = evio
	url = https://github.com/CarloWood/evio.git
	branch = master
[submodule "socket-task"]
	path = socket-task
	url = https://github.com/CarloWood/socket-task.git
	branch = master
[submodule "resolver-task"]
	path = resolver-task
	url = https://github.com/CarloWood/resolver-task.git
	branch = master
[submodule "events"]
	path = events
	url = https://github.com/CarloWood/events.git
	branch = master
[submodule "xml"]
	path = xml
	url = https://github.com/CarloWood/ai-xml.git
	branch = master
[submodule "xmlrpc-task"]
	path = xmlrpc-task
	url = https://github.com/CarloWood/xmlrpc-task.git
	branch = master
[submodule "dbus-task"]
	path = dbus-task
	url = https://github.com/CarloWood/dbus-task.git
	branch = master
[submodule "xcb-task"]
	path = xcb-task
	url = https://github.com/CarloWood/xcb-task.git
	branch = master
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/CarloWood/imgui.git
