:root {
  --linuxviewer-color: #c66a19;
  --default-text-color: #ccc7c0;
  --header-color: #ccc7c0;
  --navigation-color: #a0a0a0;
  --inline-command-color: #8f8fdd;
  --lightgray-background-color: #26292b;        /* Used at bottom of sidebar and for h2 headers. */
}

/* Override the default color. */
body,
html {
  color: var(--default-text-color);
}

/* Make sure that the anchor tag wraps tightly around the div that it contains. */
a.nav-logo-wrapper {
  display: block;
  text-decoration: none;
  border: none; /* Remove the underlining when hovering over the sidebar logo/title. */
  color: inherit;
  padding: 0;
  margin: 0;
}

/* The logo/title bar at the top of the sidebar. */
.nav-logo {
  display: flex;
  align-items:center;
  justify-content:center;
  background: var(--linuxviewer-color);
  color: var(--header-color);
  text-shadow: 2px 2px 2px #008080;    /* Text shadow. */
}

/* Adjust the position of the title inside the nav-logo div a bit. */
.nav-logo span {
  transform: translate(-8px, -2px);
  padding-right: 50px;
}

/* Position the logo image. */
.logo-image {
  vertical-align: middle;
  margin-right: 20px;
}

aside.sidebar {
  background-color: #1d1f20;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Nav {
  background-color: #1d1f20;
}

.Nav li a:hover {
  background-color: #5d5d5d;
}

#markdown-toc {
  font-size: 16px;
  padding-left: 28px;
  border-left: 6px solid #5e4011;
  padding-bottom: 4px;
}

/* Override the content color. */
.content {
  background-color: #202325;
}

/* Override the background color of the sidebar. */
.columns .left-column {
  background-color: var(--lightgray-background-color);
}

/* Override the background color of the content. */
.columns .right-column .content-page {
  background-color: #181a1b;
}

/* Override the default anchor color. */
a {
  color: var(--linuxviewer-color);
}

.sidebar-links a {
  color: var(--navigation-color);
}

h2 a {
  color: var(--header-color);
  border-bottom: none;
  font-size: 80%;
  position: relative;
  top: -3px;
}

/* Override color of box around inline code. */
code {
  border: 1px solid #606060;
}

/* Prev / Next buttons at bottom of chapters. */

.pager li>a:focus,
.pager li>a:hover {
  background-color: var(--linuxviewer-color);
}

.pager li>a>span {
  color: var(--navigation-color);
}

.pager li {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.pager li>a,
.pager li>span {
  background-color: #222222;
  border: 1px solid #777;
}

/* Chapter header. */

.page-header h1 {
  font-family: Alkatra;
  font-size: 40px;
  color: var(--header-color);
}

.page-header h1 span:before {
  content: " (";
}

.page-header h1 span:after {
  content: ")";
}

.page-header h1 span {
  font-family: 'Times New Roman', 'Times', serif;
  font-size: 75%;
  color: #aa00ff;
}

.doc_content article h2 {
  background: var(--lightgray-background-color);
  color: var(--header-color);
  text-shadow: 2px 2px 2px #008080;    /* Text shadow. */
  border-top: 2px solid #555;       /* Solid, 2-pixel-wide, dark gray border. */
  padding-top: 5px;
  padding-bottom: 4px;
}

.doc_content article {
  border-bottom: 1px solid #eee;
}

/* Tip block */

.tip, .lv_note, .info_note {
  border: 5px solid var(--linuxviewer-color);
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
}

.tip-title, .lv_note {
  font-weight: bold;
  margin-bottom: 5px;
}

.tip-content, .lv_note-content, .info_note {
  margin-top: 5px;
}

.info_note {
  margin-top: 20px;
  border: 5px solid gray;
}

.info_note-title {
  display: none;
}

/* Inline style. */

span.command {
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  color: var(--inline-command-color);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

/* Introduction */

#img_bigbook {
  display: block;
  width: 25%; /* Adjust the scaling factor by changing the percentage. */
  height: auto;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Getting Started */

#img_hellotriangle {
  display: block;
  width: 25%;
  height: auto;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}

/* Overview */

#img_multimonitor {
  display: block;
  width: 50%; /* Adjust the scaling factor by changing the percentage. */
  height: auto;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
}
