body,
html {
  color: #ccc7c0
}

.nav-logo {
  display: flex;
  align-items:center;
  justify-content:center;
  background: #c66a19;
  color: #fff;
}

.nav-logo span {
  transform: translate(-8px, -4px);
}

aside.sidebar {
  background-color: #1d1f20;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Nav {
  background-color: #1d1f20;
}

#markdown-toc {
  font-size: 16px;
  padding-left: 28px;
  border-left: 6px solid #5e4011;
  padding-bottom: 4px;
}

.content {
  background-color: #202325
}

.columns .right-column .content-page {
  background-color: #181a1b
}

.columns .left-column {
  background-color: #26292b
}

a {
  color: #c66a19;
}

.pager li>a:focus,
.pager li>a:hover {
  background-color: #c66a19
}

.pager li>a>span {
  color: #a0a0a0
}

.sidebar-links a {
  color: #a0a0a0
}

code {
  border: 1px solid #606060
}

.pager li {
  margin-right: 0.5em;
  margin-left: 0.5em
}

.pager li>a,
.pager li>span {
  background-color: #222222;
  border: 1px solid #777;
}
